*{
    padding: 0;
    margin: 0;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
i{
    margin-right:10px ;
    display: inline-block;
    color: #50B498;
}
h1{
    display: inline-block;
    color: #50B498;
}
.DIV{
    display: inline-block;
    background-color:white ;
    width: 350px;
    height: 500px;
    border-radius: 36px;
    margin-left: 128px;
    margin-top: 74px;
    border: 1px solid #E1E6E9;
    box-shadow:10px 20px 20px 0 #E1E6E9 ;
}

.img{
    width:300px ;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
p{
    padding-left: 20px;
    padding-top: 30px;
    color: #50B498;
}
.book{
    padding-left: 20px;
    padding-top: 30px;
}
.books{
    padding-left: 20px;
    padding-top: 30px;
    color: #50B498;
}
.card{
    border: 1px solis #50B498;
    height: 27px;
    background-color: white;
    margin-left: 250px;
}